// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// AdminLTE
@import '~admin-lte/bower_components/bootstrap/dist/css/bootstrap.min.css';
@import '~admin-lte/bower_components/font-awesome/css/font-awesome.min.css';
@import '~admin-lte/bower_components/Ionicons/css/ionicons.min.css';
@import '~admin-lte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css';
@import '~admin-lte/dist/css/AdminLTE.min.css';
@import '~admin-lte/dist/css/skins/skin-blue.min.css';
@import "toastr";